<!DOCTYPE html>
<html>
<head>
	<title>Booking</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	<div id="navbar">
		<h1 id="app">Way Farer</h1>
		<ul>
			<li><a href="trips.html">Trips</a></li>
			<li><a href="adminSignIn.html">Admin</a></li>
			<li><a href="SignIn.html">SignIn</a></li>
		</ul>
	</div>
	<div>
		<h2>Booking</h2>
		<div class="vh" id="booking">
			
		</div>
	</div>
	<div id="footer">
		
	</div>
</body>
</html>