<!DOCTYPE html>
<html>
<head>
	<title>Ceate a Trip</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	<div id="navbar">
		<h1 id="app"><a href="home.html">WayFarer</a></h1>
		<ul>
			<li><a href="trips.html">Trips</a></li>
			<li><a href="bookings.html">Bookings</a></li>
			<li><a href="adminSignIn.html">Admin</a></li>
			<li><a href="SignIn.html">SignIn</a></li>
		</ul>
	</div>
	<div class="center">
		<h3>Ceate a Trip</h3>
		<form>
			<label for="fname">TripName:</label><input type="text" name="fname"><br>
			<label for="fname">TripTime:</label><input type="text" name="lname"><br>
			<label for="fname">Origin:</label><input type="text" name="email"><br>
			<label for="fname">Destination:</label><input type="text" name="username"><br>
			<label for="fname">Seats:</label><input type="number" name="password"><br>
			<input class="btn" type="button" name="submit" value="Ceate a Trip" onclick="CreateTrip()">
		</form>
	</div>
	<div id="footer">
		
	</div>
</body>
</html>