<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	<div id="navbar">
		<h1 id="app"><a href="index.html">WayFarer</a></h1>
		<ul>
			<li><a href="trips.html">Trips</a></li>
			<li><a href="adminSignIn.html">Admin</a></li>
			<li><a href="SignIn.html">SignIn</a></li>
		</ul>
	</div>
	<div class="vh slideshow" id="home">
		<div class="mySlides"><img src="../Images/model-planes-airplanes-miniatur-wunderland-hamburg-163792.jpeg" style="width:100%"></div>
		<div class="mySlides"><img src="../Images/pexels-photo-358229.jpeg" style="width:100%"></div>
		<div class="mySlides"><img src="../Images/seats-train-window-travel-428614.jpeg" style="width:100%"></div>
		<h3>Welcome</h3>
		
	</div>
	<div style="text-align:center">
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	</div>
	<div id="footer">
		
	</div>
</body>
</html>