<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="..
	/style.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	<div id="navbar">
        <h1 id="app">WayFarer</h1>
        <span>
            <input id="searchInput" type="text" name="search" placeholder="Search by Origin or Destination">
            <img type="button" id="searchIcon" src="../Images/search-symbol.png">
        </span>
		<ul>
			<!-- <li><a href="index.html"><img id="homeIcon" src="../Images/real-estate-.png" ></a></li> -->
			<li><a href="trips.html">Trips</a></li>
			<!-- <li><a href="adminSignIn.html">Admin</a></li> -->
			<li><a href="SignIn.html">SignIn</a></li>
		</ul>
	</div>
	<div class="vh" id="bhome">
		<!-- <h2><img src="../Images/2880680_orig.gif" alt=""></h2> -->
		<div id="home">
            <p>You can book a trip with us!</p>
            <p>Not only a trip, but also a seat on the trip!</p>
            <p>Enjoy your trip to the fullest!</p>
		</div>
	</div>
	<div id="footer">
	  <p>&copy;2019 WayFarer</p>
	  <p>All rights reserved.</p>	
	</div>
</body>
</html>
