<!DOCTYPE html>
<html>
<head>
	<title>Trips</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script type="text/javascript" src="../script.js"></script>
</head>
<body>
	<div id="navbar">
		<h1 id="app"><a href="index.html">WayFarer</a></h1>
		<ul>
			<li><a href="trips.html">Trips</a></li>
			<li><a href="adminSignIn.html">Admin</a></li>
			<li><a href="SignIn.html">SignIn</a></li>
		</ul>
	</div>
	<div class="vh">
		<h2>Trip</h2>
		<div id="trip">
			
		</div>
	</div>
	<div id="footer">
		
	</div>
</body>
</html>