input{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.center{
	margin: 20px 33%;
	background: #ffc30f;
	padding: 30px;
	border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
	color: #581845;
}
#trips{
	margin: 50px 20%;
	background: #ffc30f;
}
#trips>div{
	width: 18vw;
	height: 30vw;
	float: left;
	margin: 1%;
}
#trips>div>img{
  width:100%;
  /* height:100%; */
  /* margin: 30px; */
}
#trip{margin:50px 20vw;width:60vw;}
#trip img{width: 30vw;float:left;margin-right: 30px;}
#trip>div{padding-top: 30px;font-size: 24px;}
#trip>div>p>span{width: 100px;}
.dashboard{text-align: center;margin: 0 10vw;}
#usersbox,#tripsbox,#bookingsbox{margin: 2vw;padding-top: 30px}
#AdminDashboard{
	background:#ffc30f;
	color:rgb(53, 2, 53);
	width:100%;margin-top:0;
	text-align: center;
	padding: 10px;
}
.dashboard div{
	width: 22vw;
	height: 20vw;
	border: 5px solid #ffc30f;
	border-radius: 10px;
	float: left;
}
#bookings{text-align: center;margin: 0 20%;}
#bookings div{
	float: left;
	margin: 30px;
	/* background: #ffc30f; */
	box-shadow: 3px 3px 5px 6px #ffc30f;
	padding: 20px;
}
#users{margin: 50px 20%;font-size: 20px;}
#users>strong{margin: 10px;}
form{
	font-size: 20px;
}

.btn{
	background: #581845;
	font-size: 24px;
	color: #ffc30f;
}

.btn:hover{
	background: #ff5733;
	font-size: 24px;
	color: #ffc30f;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
	font-size: 30px;
}

label{
	display: block;
}

#navbar, #footer{
	width:100%;
	height:80px;
	/* border: 10px solid darkred; */
	background: #581845;
	color: #ffc30f;
	font-weight: 900;
	/* box-sizing: border-box; */
}

body{
	box-sizing: border-box;
}

#home{
	background: rgba(250, 200, 0, 0.6);
	padding: 20px;
	text-align: center;
	width:30%;
	margin: 150px 35% 0 35%;
	font-size: 20px;
	color: #581845;
	font-weight: 900;
}

#footer{
	height: 100px;
	bottom: 0;
	color: #ffc30f;
	padding: 35px 0;
	text-align: center;
	font-size: 20px;
}

#homeIcon{
	height: 30px;
	width: 50px;
}

#homeIcon:hover{
	background: white;
}

#searchInput{
	width: 30%;
	margin: 20px 0;
	font-size: 18px;
}

#searchIcon{
	width: 30px;
	margin: 20px 0 -10px -40px;
}

.vh,.center{ min-height: 70vh; }

ul{
	display: flex;
	float:right;
}

ul>li{
	display: inline-block;
	margin:10px 30px;
}

ul>li>a{
	color: #ffc30f;
	text-decoration: none;
	font-size: 24px;
}

ul>li>a:hover{
	color: white;
}

#app{
	float:left;
	margin: 10px;
	font-size: 48px;
	width: 25%;
}

#bhome{
	background-image: url("./Images/pexels-photo-2533092.jpeg");
	/* width: 100%; */
	/* height: 70vh; */
	margin: 0;
	background-size: 100% 100%;
	/* background-repeat: no-repeat; */
}

@media only screen and (min-width: 990px) and (max-width: 1400px) {
	.center{ width:30%;margin: 30px 35%; }
	#searchInput{ width: 32%; }
	#app{ width: 21%; }
	ul>li{ margin-right:10px; }
}

@media only screen and (min-width: 1200px) {
	.center{ width: 30%; margin: 30px 35%; }
	#searchInput{ width: 29%; }
	#app{ width: 24%; }
	ul>li{ margin-right:30px; }
}

@media only screen and (max-width: 640px) {
	.center{ width:80%;margin:10%; }
	#searchInput{ width: 80%; }
	#app{ width: 50%; }
	ul>li{ margin-right:10px; }
	#navbar{ height:250px; }
}

@media only screen and (min-width: 640px) and (max-width: 1020px) {
	.center{ width:50%;margin: 30px 25%; }
	#searchInput{ width: 55%; }
	#app{ width: 35%; }
	#navbar{ height:180px; }
}